#app .title, #app .subTitle {
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px; }

#app .descArea {
  display: inline-block;
  vertical-align: top; }

body {
  font-size: 15px;
  color: #808080;
  font-family: Arial; }

#app {
  text-align: center;
  padding-top: 100px; }
  #app .city {
    padding: 40px 0; }
    #app .city .name {
      font-size: 36px; }
  #app .subTitle {
    font-size: 16px; }
  #app .descArea {
    width: 14.28571%;
    margin-bottom: 1em; }
    #app .descArea p {
      margin-bottom: 5px; }

